<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Flutter Base Project</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>flutter_base_project</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<!-- For Whatsapp url scheme -->
	<!-- <key>LSApplicationQueriesSchemes</key>
	<array>
		<string>whatsapp</string>
	</array> -->
	<!-- For Localization (replace ar and en to respected languages initials)-->
	<!-- <key>CFBundleLocalizations</key>
	<array>
		<string>en</string>
		<string>ar</string>
	</array> -->
	<!-- For Face ID Access -->
	<!-- <key>NSFaceIDUsageDescription</key>
	<string>Please authenticate to use the app</string> -->
	<!-- For Deeplinking -->
	<!-- <key>FlutterDeepLinkingEnabled</key>
	<true/> -->
	<!-- <array>
		<dict>
			<key>CFBundleURLName</key>
			 Replace BundleId with app's bundle identifire -->
			<!-- <string>BundleId</string>
			<key>CFBundleURLSchemes</key>
			<array> -->
		<!-- Replace url replace wwww. and .com etc only write url like google or youtube]-->
				<!-- <string>url</string>
			</array>
		</dict>
	</array>  -->
	<!-- For Location Access -->
	<!-- <key>NSLocationWhenInUseUsageDescription</key>
	<string>Need location when in use for Job location Accuracy</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Always and when in use!</string>
	<key>NSLocationUsageDescription</key>
	<string>Older devices need location.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Can I haz location always?</string> -->
	<!-- For Calender Access -->
	<!-- <key>NSCalendarsUsageDescription</key>
	<string>Allow access calendars for your profile.</string> -->
	<!-- For Camera Access -->
	<!-- <key>NSCameraUsageDescription</key>
	<string>Allow access to camera for your profile.</string> -->
	<!-- For Photo Library Access -->
	<!-- <key>NSPhotoLibraryAddUsageDescription</key>
	<string>Allow to access Photos for your profile.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Allow to access Photos for your profile.</string>
	<key>PHPhotoLibraryPreventAutomaticLimitedAccessAlert</key>
	<true/> -->
	<!-- For Reading File From Storage Access -->
	<!-- <key>NSFileReadAccess</key>
	<true/> -->
	<!-- For Writing File From Storage Access -->
	<!-- <key>NSFileWriteAccess</key>
	<true/> -->
	<!-- For Sharing File Access -->
	<!-- <key>UIFileSharingEnabled</key>
	<true/> -->
	<!-- For Open Document  -->
	<!-- <key>LSSupportsOpeningDocumentsInPlace</key>
	<true/> -->
	<!-- For Push Notifications Access -->
	<!-- <key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array> -->
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<!-- Use if Landscape neede-->
		<!-- <string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string> -->
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<!-- Use if Landscape neede-->
		<!-- <string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string> -->
	</array>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
</dict>
</plist>
